button {
  width: fit-content;
  border: none;
  align-self: center;
}

button.reset {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-decoration: underline;
  width: fit-content;
  border: none;
  background-color: transparent;

  &:hover {
    color: var(--color-red);
    transition: color var(--transition-1) ease;
  }
}
