.styleContainer {
  background-color: transparent;
  padding: 0;
  border: 0;
  margin: 0;
  gap: 16px;
}

.styleContainer legend {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 16px;
}

.styleContainer .legend {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
}

.styleContainer .fieldsetRow {
  display: flex;
  /* flex: 1; */
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.styleContainer .fieldsetColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}
