@import url("../../../style/variables.css");

.ctaTextContainer {
  > label {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
  }

  fieldset {
    border: 0;
    padding: 0;
  }

  .inputToggle {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 100px;
    background: var(--color-white);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 -4px 4px 0 rgba(169, 169, 169, 0.35) inset;
    width: 0;
    padding: 8px;
    cursor: pointer;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.2);
      box-shadow:
        0 -4px 4px 0 rgba(169, 169, 169, 0.35) inset,
        0 4px 4px 0 rgba(175, 175, 175, 0.35) inset;
    }

    &:has(input[type="radio"]:checked) {
      border: 2px solid var(--color-green-btn);
    }
  }
}
