.inputContainer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow:
    1px 1px 4px 0 rgba(255, 255, 255, 0.6) inset,
    -1px -1px 1px 0 rgba(93, 93, 93, 0.25) inset,
    1px 1px 1px 0 rgba(255, 255, 255, 0.4) inset;
  backdrop-filter: blur(7.5px);
  gap: 12px;

  &:focus {
    outline: none;
    border: 1px solid #bababa;
    box-shadow:
      1px 1px 4px 0 rgba(255, 255, 255, 0.6) inset,
      -1px -1px 1px 0 rgba(93, 93, 93, 0.25) inset,
      1px 1px 1px 0 rgba(255, 255, 255, 0.4) inset;
    backdrop-filter: blur(7.5px);
  }

  &:focus-within {
    outline: none;
    border: 1px solid #bababa;
    box-shadow:
      1px 1px 4px 0 rgba(255, 255, 255, 0.6) inset,
      -1px -1px 1px 0 rgba(93, 93, 93, 0.25) inset,
      1px 1px 1px 0 rgba(255, 255, 255, 0.4) inset;
    backdrop-filter: blur(7.5px);
  }

  &:has(input:user-invalid) {
    border: 1px solid #d80808;
  }
}

.paddingPrimary {
  padding: 8px;
}
