@import url("../../style/variables.css");

.sidebar {
  width: 100%;
  max-width: 500px;
  height: fit-content;
  margin-top: 15px;
  padding: 24px;
  position: -webkit-sticky; /* Safari  */
  position: sticky;
  top: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 40px);
  overflow-y: auto;

  p {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    top: 0;
    margin-top: 0;
    max-height: 100%;
  }
}
