.label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.label.headline {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}

input[type="color"] {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--color-black);
  padding: 0;
  flex-shrink: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.textColorInput {
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}

.textColorInput:focus {
  outline: none;
}
