@import url("../../../style/variables.css");

button.export {
  gap: 6px;
  background-color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 100px;
  box-shadow: 0 4px 0 0 var(--color-green-btn);
  transition: all var(--transition-1) ease;

  &:hover {
    box-shadow:
      0 4px 0 0 var(--color-green-btn),
      0 -4px 4px 0 rgba(175, 175, 175, 0.35) inset;
    transition: all var(--transition-1) ease;
  }

  &:active {
    transform: translateY(4px);
    box-shadow:
      0 0 0 0 var(--color-green-btn),
      0 -4px 4px 0 rgba(175, 175, 175, 0.35) inset;
    transition: all var(--transition-1) ease;
  }

  &:disabled {
    opacity: 1;
    cursor: progress;
  }
}

.spinner {
  height: 16px !important;
  width: 16px !important;
  border-radius: 999px;
  border: 2px solid var(--color-green-btn);
  border-top-color: transparent;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
