@import url("../../style/variables.css");

.header {
  background-color: var(--color-green-100);
  padding: 72px 20px 12px;
  transition: padding var(--transition-1) ease;

  .headerContainer {
    max-width: 642px;

    &.collapsed {
      h1 {
        margin: 0 0 16px;
      }

      #collapsible-conent {
        grid-template-rows: 0fr;
        transition: all var(--transition-1) ease-out;

        > div {
          margin: 0;
          transition: all var(--transition-1) ease-out;
        }
      }

      .icon {
        rotate: -180deg;
        animation: none;
      }
    }
  }

  h1 {
    font-family: var(--font-family-brand);
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0 24px;
    color: var(--color-green-500);
    transition: all var(--transition-1) ease-out;
  }

  #collapsible-conent {
    display: grid;
    grid-template-rows: 1fr;
    transition: all var(--transition-1) ease-out;

    > div {
      overflow: hidden;
      margin: 0 0 16px;
      transition: all var(--transition-1) ease-out;
    }
  }

  p {
    color: #000;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  button {
    outline: none;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;

    .icon {
      fill: var(--color-green-500);
      width: 16px;
      animation: bounce var(--transition-2) infinite alternate ease-in-out;
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6px);
  }
}
