@import url("./variables.css");

.containerEmail {
  width: 400px;
}

.containerComponent {
  background-color: var(--color-white);
  padding: 22px var(--p-h-primary) 28px;
}

.transparent {
  background-color: transparent;
}

.imgContainer,
.imgPlaceholder {
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 18px;
  overflow: hidden;
}

.imgContainer {
  position: relative;
}

.imgContainer .imgOverlay {
  background: linear-gradient(225deg, rgba(0, 0, 0, 0.75) 0%, transparent 15%);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  inset: 0;
  padding: 5px;
  display: none;
}

.imgContainer:hover .imgOverlay {
  display: block;
}

.btnClose {
  cursor: pointer;
  transition: all var(--transition-1) ease;
}

.imgContainer:hover .btnClose {
  transform: scale(1);
  transition: all var(--transition-1) ease;
}

.imgContainer .btnClose:hover {
  transform: scale(1.1);
  transition: all var(--transition-1) ease;
}

.btnClose .iconRemove {
  width: 32px;
  height: 32px;
  fill: var(--color-white);
}

.imgPlaceholder {
  width: 100%;
  background-color: #f1bedb;
  aspect-ratio: 1/1;
  cursor: pointer;
}

:global(#product-1x) .imgPlaceholder {
  aspect-ratio: 88/45;
}

:global(#product-half) .imgPlaceholder {
  aspect-ratio: 1/1.75;
}

.imgPlaceholder .iconUpload {
  width: 56px;
  height: auto;
  fill: #89215c;
  transition: all var(--transition-2) ease;
}

.imgPlaceholder:hover .iconUpload {
  transform: scale(1.2);
  transition: all var(--transition-2) ease;
}

:global(#product-2x) .imgContainer,
:global(#product-2x) .imgPlaceholder {
  margin-bottom: 14px;
}

:global(#product-3x) .imgContainer,
:global(#product-3x) .imgPlaceholder {
  margin-bottom: 10px;
}

:global(#events) .imgContainer,
:global(#events) .imgPlaceholder {
  margin: 0;
}

.badge {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  padding: 6px var(--p-h-primary);
}

.headline-1 {
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  padding: 6px var(--p-h-primary) 12px;
}

.headline-2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  padding: 6px var(--p-h-primary) 12px;
}

.headline-3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  padding: 2px var(--p-h-primary) 12px;
}

.headline-4 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  padding: 6px var(--p-h-primary);
}

.subcopy {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 0 var(--p-h-primary) 12px;
}

:global(#product-3x) .subcopy,
:global(#events) .subcopy {
  font-size: 12px;
  line-height: 18px;
}

hr {
  border: none;
  height: 1px;
  margin: 0 0 8px;
  background-color: var(--color-black);
  opacity: 16%;
}

.disclaimer {
  padding: 12px var(--p-h-primary);
}

.disclaimer p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.btnContainer {
  padding: 12px var(--p-h-primary);
  gap: 8px;
}

.btn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding: 12px 20px;
  border: 0px;
  border-radius: 4px;
  outline: none;
}

.btn.primary {
  color: var(--color-white);
  background-color: var(--color-black);
}

.btn.secondary {
  color: var(--color-black);
  background-color: var(--color-gray-500);
}

.btn.tertiary {
  color: var(--color-black);
  background-color: var(--color-gray-100);
  border-radius: 180px;
}

.spacer {
  height: 8px;
}

.column {
  flex: 1;
  width: 50%;
}

:global(#events) .column:first-of-type {
  max-width: 88px;
}

.eventSingle {
  padding: 0 var(--p-h-primary);
}
