@import url("./style/variables.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--color-black);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  display: block;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 15px 40px;
  gap: 25px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.gap-1 {
  gap: 8px;
}

.gap-2 {
  gap: 16px;
}

.gap-3 {
  gap: 24px;
}
