@import url("../../../style/variables.css");

.inputText {
  padding: 8px;
  flex: 1;
  outline: none;
  border: none;
  background-color: transparent;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--color-placeholder);
    opacity: 1;
  }
}
